/* styles.css */

body {
    background-color: #333333;
    color: white; /* Cambiar el color del texto a blanco */
}

.title {
    color: #06680b;
}

.button-primary {
    background-color: #008000; /* Cambiar el color de fondo del botón a verde */
    color: white; /* Cambiar el color del texto del botón a blanco */
}

.button{
    background-color: #008000; /* Cambiar el color de fondo del botón a verde */
    color: white; /* Cambiar el color del texto del botón a blanco */
}

p{
    color: white;
    font-weight: bold;
    margin-bottom: 5px;
}

/* Estilos para el contenedor de entrada de texto */
.text-input-container {
    margin-bottom: 15px;
}

/* Estilos para los campos de entrada de texto */
.text-input {
    border: 2px solid white;
    padding: 5px;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
}

.st-emotion-cache-7ym5gk.ef3psqc6 {
    background-color: #2e692e; /* Cambiar el color de fondo del botón a verde */
    color: white; /* Cambiar el color del texto del botón a blanco */
}

.st-emotion-cache-6qob1r.eczjsme3 {
    background-color: #158237; /* Cambiar el color de fondo del botón a verde */
    color: white; /* Cambiar el color del texto del botón a blanco */
}
.st-emotion-cache-18ni7ap.ezrtsby23 {
    background-color: #333333; /* Cambiar el color de fondo a gris */
    color: white; /* Cambiar el color del texto del botón a blanco */
}

h1{
    color: #333333;
    font-weight: bold;
    margin-bottom: 5px;
}

.st-emotion-cache-10trblm.e1nzilvr1 {
    color: #1ac24f; /* Cambiar el color  */
}

.st-emotion-cache-7ym5gk.ef3psqc11{
    background-color: #008000; /* Cambiar el color de fondo del botón a verde */
    color: white; /* Cambiar el color del texto del botón a blanco */
}

.st-emotion-cache-18ni7ap.ezrtsby2{
    background-color: #333333; /* Cambiar el color de fondo superior a gris */
    color: white; 
}


/* Estilos para el botón */

.text-label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #ffffff;
    }


/* Espaciado entre los campos de entrada y los títulos */
.text-input {
    margin-top: 2px;
    }
.st-ef .st-e6.st-e7 .st-bm {

    background-color: #005500; /* Cambiar color de fondo al hacer clic */
    color: white; /* Cambiar color del texto al hacer clic */

    }

/* Estilos para el contenedor de entrada de texto */
.text-input-container {
    margin-bottom: 15px;
}

.button-primary {
    background-color: #008000;
    color: white;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Estilos cuando el cursor pasa sobre el botón */
.button-primary:hover {
    background-color: #0056b3; /* Cambia el fondo al pasar el cursor */
    color: #00FF00; /* Cambia el color de la letra al pasar el cursor */
}

/* Estilos para cambiar el fondo de la página */
.stApp {
    background-color: #333333; /* Cambia el color de fondo a gris claro */
}

.category {
    color: #c9d0d3;
}

.link-input-bar {
    background-color: #005500; /* Cambia el fondo a verde oscuro */
    padding: 10px; /* Añade espacio alrededor de la barra de entrada de texto */
    margin-top: -20px; /* Sube la barra de entrada de texto */
}


/* Estilos cuando el cursor pasa sobre el botón y cambia el fondo de la página */
.button-primary:hover + body {
    background-color: #f0f0f0; /* Cambia el fondo de la página al pasar el cursor sobre el botón */
}

.stColumn > div {
padding: 0px 10px; /* Ajusta el valor de padding según tu preferencia */
}

a.url {
    color: #f0f0f0;
    text-decoration: none;
    transition: text-decoration 0.3s;
}
  
a.url:hover {
    text-decoration: underline;
}

/* st-emotion-cache-7ym5gk ef3psqc6 */
/* st-emotion-cache-7ym5gk ef3psqc6 */
/* st-emotion-cache-7ym5gk ef3psqc6 */
/* st-emotion-cache-6qob1r eczjsme3 */
/* st-emotion-cache-18ni7ap ezrtsby2 */
/* 2e692e */
/* st-emotion-cache-10trblm e1nzilvr1 */
/* element-container st-emotion-cache-1gi7qys e1f1d6gn2 */
/* st-emotion-cache-7ym5gk ef3psqc11 */
/* st-emotion-cache-18ni7ap ezrtsby2 */